.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
  to bottom right,
  #2463EB,
  #FFF,
  #16A249
  );
}

.auth-grid {
  width: 100%;
  max-width: 1100px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #2463EB, #16A249);
  background-clip: text;
  color: transparent;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--muted-foreground);
}

.features {
  margin-top: 2rem;
  display: grid;
  gap: 0.75rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}