<ng-content select="[dialogTrigger]" (click)="openDialog()"></ng-content>

<div class="dialog-overlay" *ngIf="open" (click)="close()"></div>

<div class="dialog-container" *ngIf="open">
  <div class="dialog-content">

    <button class="dialog-close" (click)="close()">X</button>

    <div class="dialog-header">
      <ng-content select="app-dialog-title"></ng-content>
      <ng-content select="app-dialog-description"></ng-content>
    </div>

    <div class="dialog-body">
      <ng-content></ng-content>
    </div>

    <div class="dialog-footer">
      <ng-content select="app-dialog-footer"></ng-content>
    </div>
  </div>
</div>