/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
}

:root {
  --primary: #6366f1;
  --primary-rgb: 99,102,241;
  --primary-foreground: #ffffff;

  --secondary: #e5e7eb;
  --secondary-rgb: 229,231,235;
  --secondary-foreground: #111827;

  --destructive: #ef4444;
  --destructive-rgb: 239,68,68;
  --destructive-foreground: #ffffff;

  --border: #e5e7eb;
  --foreground: #111827;

  --ring: rgba(79, 70, 229, 0.5);
  --background: #ffffff;
}